---
Checks:
  - -*
  - clang-diagnostic-*
  - clang-analyzer-*
  - bugprone-*
  - cert-*
  - concurrency-*
  - cppcoreguidelines-*
  - google-*
  - hicpp-*
  - llvm-*
  - -llvm-header-guard
  - misc-*
  - modernize-*
  - -modernize-use-trailing-return-type
  - performance-*
  - portability-*
  - readability-*
  - -readability-redundant-access-specifiers
WarningsAsErrors: ""
HeaderFileExtensions:
  - ""
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ""
ExcludeHeaderFilterRegex: ""
FormatStyle: file
User: schneeregenflocke
SystemHeaders: false
# ExtraArgs: ["-Wno-unknown-warning-option"]
RemovedArgs: ["-mno-direct-extern-access", "-Wduplicated-branches", "-Wduplicated-cond", "-Wlogical-op", "-Wuseless-cast"]
---

